.background_image {
  width: 937.5px; height: 800px;
  background-image: url(../../assets/images/metroMap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 1;
}

.important > div {
  width: 100vw !important;
  height: calc(var(--vh, 1vh) * 100) !important;
}

.btn_random {
  position: absolute;
  bottom: 10vh; left: 8vw;
  z-index: 1;
  width: 15vh; height: 15vh;
  background-image: url(../../assets/images/transfer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3vh;
  font-weight: 600;
  color: #fff;
  text-shadow: 10px 10px 10px #000;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  opacity: .9;
}

.selected_position {
  position: absolute;
  width: 40vw; height: 80px;
  top: 2vh; left: 6vw;
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  padding: 3px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.zoom_controls {
 position: absolute;
 bottom: 5vh; right: 5vh;
 display: flex;
 flex-direction: column;
 width: 50px;
 height: 25px;
 font-size: 20px;
}

@media (max-width: 1000px) {
  .btn_random {
    bottom: 6vh; left: 8vw;
    width: 10vh; height: 10vh;
    font-size: 2.4vh;
  }

  .selected_position {
    width: 60vw;
    top: 2vh; left: 6vw;
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .btn_random {
    bottom: 6vh; left: 8vw;
    width: 10vh; height: 10vh;
    font-size: 2.4vh;
  }

  .selected_position {
    width: 65vw;
    top: 2vh; left: 6vw;
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .btn_random {
    bottom: 6vh; left: 8vw;
    width: 10vh; height: 10vh;
    font-size: 2.4vh;
  }

  .selected_position {
    width: 90vw;
    top: 2vh; left: 6vw;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .btn_random {
    bottom: 6vh; left: 8vw;
    width: 10vh; height: 10vh;
  }

  .selected_position {
    width: 90vw; height: 64px;
    top: 2vh; left: 6vw;
    font-size: 16px;
    line-height: 28px;
  }
}